@model HealthApp.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyQuestionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyQuestionAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.DoctorFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.PatientFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.PatientFName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
