@model IEnumerable<HealthApp.Models.DoctorPatientMatch>

@{
    Layout = null;
    ViewBag.Title = "Messages";
    @*Validates wehter or not a user has logged on*@
    if (Session["LoggedPatientId"] == null)
    {
        Response.Redirect("~/Login/PatientLogin");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Health Monitoring Application - Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand text-white" href="@Url.Action("PatientHome", "Home")">Health Monitor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="@Url.Action("PatientHome", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("ToPatientMessage", "MessagePage")">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("SurveyPreview", "PatientSurvey")">Surveys</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("EditPatient", "EditPDetails")">My Profile</a>
                </li>
            </ul>
            <ul class="ml-auto">
                <a class="btn btn-danger text-white" href="@Url.Action("LogOut", "Login")">Logout</a>
            </ul>
        </div>
    </nav>
    <br><br />
        <div class="container my-5">
            <div class="card">
                <div class="card-header">

                    <h5 class="card-title">Your personal Doctor</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("PatientMessenger", "Messenger", FormMethod.Post))
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Doctor ID</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Message</th>

                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="col">@Html.DisplayFor(model => item.DoctorID)</th>
                                        <th scope="col">@Html.DisplayFor(model => item.Doctor.DoctorFName)</th>
                                        <th scope="col">@Html.DisplayFor(model => item.Doctor.DoctorSName)</th>

                                        <td>
                                            <input type="submit" class="btn btn-primary text-white" name="match" value="@Html.DisplayFor(model => item.MatchID)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

            @* Where the messenger would have been,
            however it needs to be on another page due to sessions
            <hr class="my-4" />
        <div class="card">
            <div class="card-header">
                Messenger
            </div>
            <div class="card-body">


            </div>
            </div>
            *@


        </div>
    </div>

</body>
</html>